node_modules/
.DS_Store
Thumbs.db
*.log
.vercel
InventivetalentDev*/
__pycache__/
*.lnk
desktop.ini
*.txt
flappy-bird-fixed/
flappy-minecraft/
flappy-of-minecraft-repo/
minecrflappy2/
*.pdf
*.docx
pjt1/
flappy-fixed/pjt1/
flappy-fixed/test_game.js
flappy-fixed/vercel.json
